body {
  overflow: hidden;
  margin: 0px;
}

h5 {
  margin: 0px;
}

#container {
  position: relative;
  display: flex;
  justify-content: center;
}

#canvas_div {
  position: absolute;
  text-align: center;
}

#options-div {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  width: 480px;
  padding-top: 200px;
  padding: 20px;
}

.slider {
  margin: 5px;
  height: 2em;
}

input[type="range"] {
  accent-color: coral;
}